<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="release">
            <h2><span>Release</span> {{ release.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{ release.title }}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{ release.type }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ release.status }}</span>
                </dd>
                <dt><span>Deadline</span></dt>
                <dd>
                    <span>{{ release.deadline }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/release', release.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
