<div>
    <h2 id="page-heading">
        <span>Releases</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-release" [routerLink]="['/release/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Release
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="releases?.length === 0">
        <span>No releases found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="releases && releases.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Title</span></th>
                    <th scope="col" ><span>Type</span></th>
                    <th scope="col" ><span>Status</span></th>
                    <th scope="col" ><span>Deadline</span></th>
                    <th scope="col" ><span>Tasks</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let release of releases ;trackBy: trackId">
                    <td><a [routerLink]="['/release', release.id, 'view']">{{ release.id }}</a></td>
                    <td>{{ release.title }}</td>
                    <td>{{ release.type }}</td>
                    <td>{{ release.status }}</td>
                    <td>{{ release.deadline | date:'medium' }}</td>
                    <td>{{ release.tasks }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/release', release.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/release', release.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(release)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
